<aside class="col-lg-4 col-md-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 hidden-sm hidden-xs">
            {{> widgets/sidebar-search}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            {{> widgets/sidebar-weather}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 hidden-sm hidden-xs">
            {{> widgets/sidebar-tags}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 hidden-sm hidden-xs">
            {{> widgets/sidebar-featured-posts}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 hidden-sm hidden-xs">
            {{> widgets/sidebar-newsletter-ghost}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 hidden-sm hidden-xs">
            {{> widgets/sidebar-about}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            {{> widgets/sidebar-instagram}}
        </div>
    </div>
</aside>