<div class="render-component-weather"
     data-title="{{t "$city weather"}}"
     data-loading-title="{{t "Loading weather data..."}}"
     data-weekdays="{{t "Sun,Mon,Tue,Wed,Thu,Fri,Sat"}}"></div>


