<div class="widget widget-side">
    <h2 class="widget-title">{{t "Newsletter"}}</h2>

    <p>{{t "Subscribe to our newsletter and stay updated on the latest news and special offers!"}}</p>

    <form class="form-footer validate" action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <div class="form-group">
            <input class="form-control" name="EMAIL" type="email" placeholder="{{t "Enter your email"}}" style="width: 100%;">
        </div>
        <button class="btn btn-primary">{{t "Subscribe"}}</button>
    </form>
</div>
